<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title></title>
</head>
<body>
	<form th:action="@{/add}" method="Post">
		name <input type="text" name="name" /> <input type="submit" value="Add Data" />

	</form>
<br></br>
<br></br>
<br></br>

	<table align="center" style="border: 1px solid black;">
		<tr>
			<th>id</th>
			<th>name</th>
			<th colspan="2">Action</th>
		</tr>
		<tr th:each="item : ${list}">
			<td><span th:text="${item.id}"></span></td>
			<td><span th:text="${item.name}"></span></td>
			<td><a onclick="return confirm('Are you sure to delete this item?')" th:href="@{/delete/}+${item.id}">Delete</a></td>
			<td><a th:href="@{/update/}+${item.id}">update</a></td>
		</tr>
	</table>
</body>
</html>